.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  /* background: #0e101c; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.error {
  color: #bf1650;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

label.row {
  display: flex;
  flex-direction: row;
}

.row input {
  width: auto;
  transform: scale(1.5);
  align-self: center;
  margin-right: 10px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  font-weight: 700;
}

button,
input[type="submit"] {
  background: #2ecc71;
  color: white;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
}
button:disabled {
  background: #ddd !important;
}

button {
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
}

input[type="submit"]:hover {
  background: #bf1650;
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate(0, 10px);
  background-color: #f1f1f1;
  border: solid 1px #ccc;
  /* border-width: 10px; */
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f1f1f1 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
/* .popover__wrapper:hover .popover__content { */
.popover__wrapper.open .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -10px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

li.line {
  text-decoration: line-through;
  color: #ccc;
  /* font-weight: 700; */
}
